
<ng-template>
  <form [formGroup]="generalForm"     
    [ngClass]="{
      'mobile-form-fields': (isHandset$ | async) || (isTablet$ | async),
      'three-columns'     : !(isHandset$ | async) && !(isTablet$ | async)
      }" 
    >
    <section>
        <mat-form-field>
            <input
              matInput
              placeholder="Nome"
              formControlName="name"
              required
            />
            <mat-error *ngIf="generalForm.get('name').invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input
                matInput
                placeholder="E-mail"
                formControlName="email"
                required
              />
              <mat-error *ngIf="generalForm.get('email').invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                  matInput
                  placeholder="Senha"
                  formControlName="senha"
                  required
                />
                <mat-error *ngIf="generalForm.get('senha').invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
    </section>
  </form>
</ng-template>