<div class="content_box">
  
  <div style="vertical-align: middle;">
    <div class="event_span">
      <span>Eventos</span>
    </div>
    <div class="button_thing">
      <button class="reprove_button">Recusar</button>
      <!-- usar ng-click pra fazer a ação de mudar o status! -->
    </div>
    <div class="button_thing">
      <button  style="color: white;" class="aprove_button">Aprovar</button>
    </div>
  </div>

  <div style="margin-top: 48px;"></div>
  
  <p>Título</p>
  <div class="detail_box">
    <p>{{event?.title}}</p>
  </div>

  <div>
    <div style="margin-top: 32px;"></div>
    <p>Data</p>
    <div class="detail_box">
      {{event?.createdAt | date: 'dd/MM/yyyy'}}
    </div>
  </div>

  <div>
    <div style="margin-top: 32px;"></div>
    <p>Descrição</p>
    <div class="description_box">
      {{event?.description}}
    </div>
  </div>

</div>