<div class="wrapper1">

  <div  class="w1b1">
    <span>Eventos</span>
  </div>

  <div class="w1b2"> </div>

  <div class="w1b3">
    <button style="color: white;" class="aprove_button">Aprovar</button>
  </div>

  <div class="w1b4">
    <button class="reprove_button">Recusar</button>
  </div>
  
</div>

<div class="content_box">
  
  <p>Título</p>
  <div class="detail_box">
    <p>Workshop de pepega twitch</p>
  </div>

  <div>
    <div style="margin-top: 32px;"></div>
    <p>Data do evento</p>
    <div class="detail_box">
      11/06/2019
    </div>
  </div>

  <div>
    <div style="margin-top: 32px;"></div>
    <p>Descrição do evento</p>
    <div class="description_box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptate inventore deleniti voluptatum. Excepturi ratione recusandae, possimus quod assumenda rerum suscipit totam fugiat, ex sint tempore deserunt autem libero dolores et cumque soluta ad nisi. Nulla esse dolor quidem temporibus sequi vero optio numquam! Dolorem, amet enim. Eum, officiis voluptatem.
    </div>
  </div>

</div>
