<div class="eventType">
  
  <div class="fields">
    <p class="tittle">Registrar Nova Categoria de Evento</p>
    <form [formGroup]="eventTypeForm">
      <label>
        Nome da Categoria:
        <mat-form-field class="eventType">
          <input matInput type="text">
        </mat-form-field>
      </label>
    </form>
  </div>

  <div class="fields">
    <p class="title">Categorias Registradas</p>
    <table mat-table [dataSource]=[0,1,2]>
      <ng-container matColumnDef="Categories">
        <th mat-header-cell *matHeaderCellDef> Categorias </th>
        <td mat-cell *matCellDef="let categories"> teste </td>
      </ng-container>
    </table>
  </div>
    

  
</div>
