.signup-form {
  text-align: left;
  display: block;
  form{
    width: 100%;
    display: inline-flex;
    justify-content: left;

    mat-form-field{
      width: 80%;
      max-width: 800px;
    }

  }
}

.title-and-subtitle {
  margin-bottom: 3%;

  h1 {
    color: #424242;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 !important;
  }

  h2 {
    color: #757575;
    font-weight: 500;
    font-size: 1.2em;
    margin: 8px 0 !important;
  }
}

.action-buttons {

  margin: 3% 0;

  button{
    width: 150px;
  }

  button:first-child {
    margin-inline-end: 8px;
  }

  .primary {
    background-color: #8E24AA;
    border-image: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);
    background-image: linear-gradient(to right, #8e24aa , #ba68c8);
    color: white;
  }

  .secundary {
    color: #8E24AA;
  }

  .tertiary {
    color: #8E24AA;
  }

  button:disabled {
    opacity: 0.5;
  }
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #424242;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #8e24aa;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #8e24aa;
}
