<section>
  <section class="title-and-subtitle">
    <h1>Criar seu cadastro é fácil. Olha só!</h1>
    <h2>
      Preencha os campos abaixo com suas informações e tenha acesso a um
      universo de eventos com a Hubble.
    </h2>
  </section>

  <section class="signup-form">
    <form [formGroup]="signUpForm">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" required type="text" />
          <mat-error *ngIf="signUpForm.get('email').invalid"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" required type="text" />
          <mat-error *ngIf="signUpForm.get('name').invalid"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            matInput
            formControlName="password"
            required
            [type]="hide ? 'password' : 'text'"
            type="password"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error *ngIf="signUpForm.get('password').invalid"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirmar senha</mat-label>
          <input
            matInput
            formControlName="passwordConfirmation"
            required
            [type]="hide ? 'password' : 'text'"
            type="password"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="signUpForm.get('passwordConfirmation').invalid"
          ></mat-error>
        </mat-form-field>
      </div>
    </form>

    <section class="action-buttons">
      <button class="secundary" mat-button>Voltar</button>
      <button (click)="onSignUp()" class="primary" mat-raised-button>Cadastrar</button>
    </section>
  </section>
</section>
