<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async) && !(isTablet$ | async)">
    <mat-toolbar>
      <button id="sidenav-toggle" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="menuToggle()">
        <mat-icon style="color: #FAFAFA;" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div>
        <a class="menu-item" mat-list-item routerLink="/">
          <mat-icon>star_border</mat-icon>
          Em destaque
        </a>
      </div>
      <div>
        <a class="menu-item" mat-list-item routerLink="/novo-evento">
          <mat-icon>search</mat-icon>
          Pesquisar eventos
        </a>
      </div>
      <div *ngIf="authenticated">
        <a class="menu-item" mat-list-item href="#">
          <mat-icon>calendar_today</mat-icon>
          Meus eventos
        </a>
      </div>
      <div>
        <a class="menu-item" mat-list-item href="#">
          <mat-icon>notifications</mat-icon>
          Notificações
        </a>
      </div>
      <div *ngIf="authenticated">
        <a class="menu-item" mat-list-item href="#">
          <mat-icon>person_outline</mat-icon>
          Perfil
        </a>
      </div>
      <div *ngIf="!authenticated">
          <a class="menu-item" mat-list-item routerLink="/login">
            <mat-icon>person_outline</mat-icon>
            Login
          </a>
        </div>
        <div *ngIf="adminAuthenticated">
          <a class="menu-item" mat-list-item href="/admin/lista-eventos">
            <mat-icon>calendar_today</mat-icon>
            Eventos para validar
          </a>
        </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="menuToggle()" *ngIf="!drawer.opened">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Lunne</span>
      <span class="fill-space"></span>
      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
            <a class="md-form my-0" *ngIf="!authenticated" href="/login"> Login </a>
            <a class="md-form my-0" *ngIf="authenticated" (click)="logout()"> Logout </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>