<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div  class="swiper-container" [swiper]="config" [(index)]="index">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <mat-card>
        <img mat-card-lg-image src="http://placehold.it/350x150" class="md-card-image" alt="image caption"/>
        <mat-card-title>curso de alguma coisa</mat-card-title>
        <mat-card-subtitle>tal lugar tal hora
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="swiper-slide"><mat-card>Simple card</mat-card></div>
    <div class="swiper-slide"><mat-card>Simple card</mat-card></div>
    <div class="swiper-slide"><mat-card>Simple card</mat-card></div>
    <div class="swiper-slide"><mat-card>Simple card</mat-card></div>
    <div class="swiper-slide"><mat-card>Simple card</mat-card></div>
  </div>

  <div class="swiper-pagination"></div>

</div>