<div>
  <img class="cel_image" src="http://placehold.it/400x300" alt="">
</div>

<div class="wrapper">

  <div class="block1">
    <div>
      <div class="event_title">
        <span>{{ event?.title }} </span>
        <a href=""><i style="vertical-align: -4.5px;" class="material-icons favorite_class"> star_border </i></a>
      </div>
      <div class="created_by">
        <span class="created_by_default">Criado por </span> <span class="created_by_name">John Doe</span>
      </div>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="block2">
    <div>
      <button class="confirm_event_button">Confirmar presença</button>
    </div>
  </div>

  <div class="block4">
    <div class="padding_info">
      <div>
        <i style="vertical-align: -5px;" class="material-icons"> calendar_today </i>
        <span> {{ event?.startDate }} </span>
      </div>
      <div style="margin-top: 8px;">
        <i style="vertical-align: -5px;" class="material-icons"> access_time </i>
        <span> 12h30 - 16h50 </span>
      </div>
      <div style="margin-top: 8px;">
        <i style="vertical-align: -5px;" class="material-icons"> location_on </i>
        <span> {{ event?.address.street}}, {{event?.address.complements}}, {{event?.address.district}} - {{event?.address.city}} - {{event?.address.state}} </span>
      </div>
    </div>
  </div>

  <div class="block3">
    <div class="padding_text">
      <p> {{event?.description}} </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet tortor sed ex varius facilisis. Fusce elementum pellentesque ligula sed aliquam. Phasellus nec nibh in magna maximus facilisis et quis augue. Maecenas auctor ultricies massa, eget euismod risus posuere sed. Nulla dui massa, tristique ac dictum vel, volutpat at mauris.</p>
    </div>
    <nav>
      <ul>
        <li>
          <a href="">
              <i style="vertical-align: -4.5px;" class="material-icons"> share </i>
              <span> Compartilhar evento </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i style="vertical-align: -4.5px; margin-left: 16px;" class="material-icons"> picture_as_pdf </i>
            <span> Gerar folder </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>


  
<div style="margin-bottom: 8rem;"></div>