* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:#212121;
}

.cel_image {
  margin: 0;
  width: 100%;
  max-height: 21rem;
  object-fit: cover;
  object-position: center;
}

.event_title {
  margin-left: 32px;
  margin-top: 24px;
  font-size: 20px;
}

.created_by {
  margin-left: 32px;
  margin-top: 8px;
  font-size: 14px;
}

.created_by_default{
  color: #757575;
}

.created_by_name {
  color: #212121;
}

.padding_info {
  margin-left: 32px;
  margin-top: 32px;
  margin-right: 32px;
  font-size: 12px;
}

.confirm_event_button {
  margin-top: 36px;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  background-color: #000;
  color: #ffffff;
  height: 47px;
  width: 193px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 23.5px;
}

.padding_text {
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  font-size: 14px;
}

nav ul {
  display: block;
  margin: auto auto;
  width: fit-content;
}

nav ul li {
  display: inline-block;
  float: left;
  padding: 16px 0px 0px 32px;
}

nav ul li a {
  font-size: 16px;
}

@media only screen and (min-width:769px) {
  .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}
