form {
  text-align: center;
}

.date-and-time{
  div{
    display: block;
    text-align: center;
  }
  div mat-form-field:first-child{

  }
}

.three-columns{
  text-align: center;

    section {
      display: block;
      width: 100%;

      mat-form-field {
        width: 30%;
      }

      mat-form-field:nth-child(even) {
        padding: 0 24px 0 24px !important;
      }
    }
}


.nextPrevButtons{
  text-align: center;
  margin-top: 5%;
}

#next {
  background: #212121;
  color: white;
  border: 1.5px solid #212121;
  border-radius: 10px;
}

#prev {
  background: transparent;
  color: #212121;
  border: 1.5px solid #212121;
  border-radius: 10px;
  margin-right: 48px;
}

.page-main-header {
  padding: 0 24px 0 24px;
}

.mobile-form-fields{
  mat-form-field {
    width: 100% !important;
  }

  mat-form-field:nth-child(even) {
    padding: 0 !important;
  }
}
